/* App.css */
div {
  margin: 10px;
}

h2, h3 {
  margin: 0;
  padding: 5px;
}

p {
  margin: 0;
  padding: 5px;
  font-style: italic;
}
/* Add this to your App.css or another stylesheet */
.playlist-name-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid black;
}
